# ================================
# Entornos virtuales
# ================================
venv/
.venv/
env/
ENV/

# ================================
# Datos locales / administrativos
# ================================
data/
*.xml
*.csv
*.xlsx
*.db
*.json

# ================================
# Credenciales y secretos
# ================================
credentials.json
*.secrets/
token.json
token*
*.key
*.env


# ================================
# Cache y archivos temporales
# ================================
__pycache__/
*.py[cod]
*.log

# ================================
# IDEs y SO
# ================================
.vscode/
.idea/
.DS_Store
Thumbs.db

